@import url("style.css");

.leftside {
    width: 60%;
    padding-top: 100px;
    float:left;
}

.title {
    font-size:72px;
    font-family: 'Noto Sans KR Bold';
    letter-spacing: -5px;
}

.subtitle {
    font-size:36px;
    font-family: 'Noto Sans KR Light';
    letter-spacing: -1px;
}

.abstract {
    font-size:20px;
    font-family: 'Noto Serif KR';
}

.developers {
    font-size:16px;
    font-family: 'Noto Serif KR';
    color: #bbb;
}

.awards {
    font-size:16px;
    font-family: 'Noto Serif KR';
    color: #bbb;
}

.rightside {
    width: 40%;
    float:right;
    pointer-events: none;
}

#introanimation {
    float:left;
    pointer-events: none;
}

#introanimation > svg {
    width: 800px !important;
    transform: translate3d(0px, 0px, 0px);
    margin-left: -220px !important;
    margin-top: -180px !important;
    pointer-events: none;
}
