@import url("nav.css");
@import url("page.css");
@import url("introduce.css");
@import url("features.css");
@import url("footbar.css");
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR Light';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR Bold';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
    url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}

a {
    text-decoration:none;
    color: inherit;
    cursor: hand;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.material-icons {
    cursor: hand;
    cursor: -webkit-grab;
    text-align: center;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.Neurbutton {
    width: 150px;
    height: 50px;
    font-size:18px;
    font-family: 'Noto Sans KR Bold';
    border: 2px solid #000;
    color: #000;
    text-align: center;
    line-height: 50px;
    transition: 0.2s;
}

.Neurbutton:hover {
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 1000px) {
    .page_contents, .nav_contents, .footbar_contents {
        width: 800px;
    }

    .logo {
        width: 120px;
    }

    .nav_menu > a {
        margin-right: 17.5px;
        font-size: 18px;
    }

    .leftside {
        width: 100%;
    }

    .rightside {
        float:left;
        width: 100%;
    }

    #introanimation > svg {
        margin-left: -10px !important;
    }

    #neuralaction_player {
        height: 450px;
    }
}

@media screen and (max-width: 850px) {
    .page_contents, .nav_contents, .footbar_contents {
        width: 500px;
    }

    .logo {
        width: 90px;
    }

    #introanimation > svg {
        margin-left: -170px !important;
    }

    #neuralaction_player {
        height: 281px;
    }
}



@media screen and (max-width: 550px) {

    .title {
        font-size: 52px;
    }

    .subtitle {
        font-size: 30px;
    }
    .page_contents, .nav_contents, .footbar_contents {
        width: 90%;
    }

    .logo {
        width: 90px;
    }

    .nav_menu > a {
        margin-right: 12.5px;
        font-size: 12px;
    }

    #introanimation > svg {
        margin-left: -100px !important;
    }

    #neuralaction_player {
        height: 200px;
    }

    #introanimation > svg {
        width: 600px !important;
    }
}


@media screen and (max-width: 400px) {

    .logo {
        width: 70px;
    }

    .nav_menu > a {
        margin-right: 10px;
        font-size: 10px;
    }

    #introanimation > svg {
        width: 500px !important;
    }
}



